@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap'); /*importa fontes do google */
* { /* tira as margens padrão do site */
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif; /* Modifica a fonte dos textos, como estamos no * sera modificado em todo o site.*/
}
nav {
    background-color: rgb(45, 230, 230); /*Escolhe a cor da TAG (NAV)*/
    /*margin-left: 1rem;*/ /*Cria uma margem (fora do elemento nav) no lado esquerdo de Xrem, o rem é uma medida realativa da sua tela*/
    padding: 1rem; /*cria uma expanção dentro do elemento NAV*/ /*quando não escolhemos o lado, ele faz para os quatro lados */
    font-weight: 500; /*Escolhe o peso da fonta, no nosso casso importamos todos os pessos então temos diferentes grossores de fontes. */
}

nav ul{ /* pega tudo o que esta dentro da ul que esta dentro da nav e modifica o que esta ali dentro*/
    list-style: none; /*deixa a lista sem nenhum estilo, neste caso tira os pontinhos pretos a esquerda*/
    /*background-color: rgb(45, 230, 230); Escolhe a cor da TAG (ul)*/
    display: flex; /*Deixa uma "li" do daldo da outra*/
    justify-content: center; /*Deixa os itens alineados no centro (flex-start e flex-end) seriam as outras opções.*/
}
nav ul li{
    padding: 1rem; /* da um espaço dentro de cada item dentro do "li" */
}
nav ul li a{ /* muda apenas os textos dentro de 'a', por boas praticas é importante declarar todo o caminho*/
    text-decoration: none;
    color: white;
}
